<script>
    import { send } from "../lib/services.js";
    // @ts-ignore
    import { navigate } from "svelte-routing";

    import Back from "../icons/back.svelte";
    import Purchase from "../component/purchase.svelte";
    let step = 1;
    let supplierListId = 0;
    let bill;
    let finalizar = "Continuar";

    let error;
    async function continuar() {
        if (step == 1) {
            if (supplierListId == 0) {
                error = "ingrese el campo";
                return;
            }

            bill = await send("POST", "/purchaseBill", {
                SupplierId: supplierListId,
            });
        }
        step += 1;
        if (step > 2) {
            navigate("/purchases", { replace: true });
            step = 2;
        }
    }
    function back() {
        step -= 1;
        if (step < 1) {
            navigate("/purchases", { replace: true });
            step = 1;
        }
    }
    let unique = {};
    function restart() {
        unique = {};
    }
</script>

<section class="section">
    {#if step > 0 && step < 3}
        <button class="button is-inverted" on:click={back}>
            <span class="icon is-small">
                <Back></Back>
            </span>
        </button>
    {/if}
    {#key unique}
        {#if step == 1}
            {#await send("GET", "/supplierList")}
                ...
            {:then supplierList}
                <div class="field">
                    <label for="supplier" class="label">vendedor:</label>
                    <div class="select">
                        <select id="supplier" bind:value={supplierListId}>
                            {#each supplierList as supplierListItem}
                                <option value={supplierListItem.Id}>
                                    {supplierListItem.Name}
                                </option>
                            {/each}
                        </select>
                    </div>
                    {#if error}
                        <p>{error}</p>
                    {/if}
                </div>
            {/await}
        {:else if step == 2}
            <Purchase billItem={bill} modo={"INS"} isSale={false}></Purchase>
        {/if}
        {#if step > 0 && step < 3}
            <button class="button is-primary" on:click={continuar}
                >{finalizar}</button
            >
        {/if}
    {/key}
</section>
