<script>
    import Back from "../icons/back.svelte";
    import { send } from "../lib/services.js";
    import Purchase from "../component/purchase.svelte";
    // @ts-ignore
    import { navigate } from "svelte-routing";
    import { mensaje } from "../lib/store.js";
    let Name = "",
        Phone,
        Direction = "";
    let IsDelivered = false;
    let IsPaid = false;
    let sale;
    let step = 1;
    let error = false;
    async function continuar() {
        if (step == 1) {
            if (Name == "") {
                error = true;
                $mensaje = "falta ingresar nombre del vendedor";

                return;
            }
            sale = await send("POST", "/saleBill", {
                Name,
                Phone,
                Direction,
                IsDelivered,
                IsPaid,
            });
            $mensaje = null;
        }
        step += 1;

        if (step > 2) {
            navigate("/sales", { replace: true });
            step = 2;
        }
    }
    function back() {
        step -= 1;
        if (step < 1) {
            navigate("/sales", { replace: true });
            step = 1;
        }
    }
    let unique = {};
    function restart() {
        unique = {};
    }
</script>

<section class="section">
    {#if step > 0 && step < 3}
        <button class="button is-inverted" on:click={back}>
            <span class="icon is-small">
                <Back></Back>
            </span>
        </button>
    {/if}
    {#if step == 1}
        <div class="field">
            <label for="" class="label">Comprador:</label>
            <input
                type="text"
                placeholder="jua"
                bind:value={Name}
                class="input {error ? 'is-danger' : ''}"
            />
        </div>
        <div class="field">
            <label for="" class="label">telefono:</label>

            <input
                type="text"
                placeholder="897897987"
                bind:value={Phone}
                class="input"
            />
        </div>
        <div class="field">
            <label for="" class="label">direccion:</label>
            <textarea
                id="w3review"
                name="w3review"
                rows="4"
                cols="50"
                bind:value={Direction}
                class="textarea"
            />
        </div>

        <div class="field">
            <label class="checkbox">
                <input type="checkbox" bind:checked={IsDelivered} />
                Entregado
            </label>
        </div>

        <div class="field">
            <label class="checkbox">
                <input type="checkbox" bind:checked={IsPaid} />
                Pagado
            </label>
        </div>
    {:else if step == 2}
        <Purchase billItem={sale} modo={"INS"} isSale={true}></Purchase>
        <!-- <Stock BillId={sale.Id} isSale={true} modo="INS" /> -->
    {/if}

    <button class="button is-primary" on:click={continuar}>Continuar</button>
</section>
