<script>
    import { send } from "../lib/services";
</script>

<section class="section">
    <h1>HOME</h1>
    {#await send("GET", "/balance")}
        ...
    {:then balance}
        <h2>
            Saldo: {balance.Balance}
        </h2>
    {/await}
</section>
