<script>
    import { send } from "../lib/services.js";
    import { mensaje } from "../lib/store.js";
    let unique = {};
    let Name = "";
    let error = false;
    function restart() {
        $mensaje = "";
        Name = "";
        error = false;
        unique = {};
    }
    let name = "";
    async function deleteStock(id) {
        if (!window.confirm("Estas seguro?")) {
            return;
        }

        let result = await send("DELETE", "/stock", { Id: id });
        // location.reload();
        restart();
        return result;
    }
    async function listStock(name) {
        return send("POST", "/stockList", { Name: name });
    }

    let Quantity = 0;
    async function agregar() {
        if (Name == "") {
            error = true;
            $mensaje = "falta ingresar nombre del producto";
            return;
        }

        send("POST", "/stock", { Name, Quantity });
        restart();
    }
</script>

<section class="section">
    <div class="columns">
        <div class="column">
            <p class="title">lista de Inventario</p>
            <div class="field">
                <label for="site-search" class="label">Search the site:</label>
                <input
                    type="search"
                    id="site-search"
                    name="q"
                    bind:value={name}
                />
                <!-- <button on:click={restart}>Search</button> -->
            </div>

            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad actual</th>
                    <th>Acciones</th>
                </tr>
                {#key unique}
                    {#await listStock(name)}
                        ...
                    {:then resp}
                        {#each resp as resItem}
                            <tr>
                                <td>{resItem.Name}</td>
                                <td>{resItem.Quantity}</td>
                                <td>
                                    <!-- <a href="/">Edit</a> -->
                                    <button
                                        class="delete"
                                        on:click={() => {
                                            deleteStock(resItem.Id);
                                        }}
                                    />
                                </td>
                            </tr>
                        {/each}
                    {/await}
                {/key}
            </table>
        </div>
        <div class="column">
            <div class="field">
                <label for="prd" class="label">Añadir Producto</label>
                <input
                    type="text"
                    name=""
                    id="prd"
                    bind:value={Name}
                    required
                    class="input {error ? 'is-danger' : ''}"
                />
            </div>
            <button class="button" on:click={() => agregar()}>Agregar</button>
        </div>
    </div>
</section>
