<script>
    import Check from "../icons/check.svelte";
    import Lock from "../icons/lock.svelte";
    import User from "../icons/user.svelte";
    // @ts-ignore
    import { links } from "svelte-routing";
    import { fronthash, mensaje } from "../lib/store";
    import { send } from "../lib/services";
    // @ts-ignore
    import { navigate } from "svelte-routing";
    let Password = "";
    let Username = "";
    async function login() {
        if (Password == "" || Username == "") {
            $mensaje = "Usuario o contraseña incorrecta";
            return;
        }
        $mensaje = "";
        let res = await send("POST", "/login", { Username, Password });
        $fronthash = res.token;
        navigate("/", { replace: true });
    }
</script>

<div class="field">
    <p class="control has-icons-left has-icons-right">
        <input
            class="input"
            type="text"
            placeholder="Usuario"
            bind:value={Username}
        />
        <span class="icon is-small is-left">
            <User></User>
        </span>
        <!-- <span class="icon is-small is-right">
            <Check></Check>
        </span> -->
    </p>
</div>
<div class="field">
    <p class="control has-icons-left">
        <input
            class="input"
            type="password"
            placeholder="Password"
            bind:value={Password}
        />
        <span class="icon is-small is-left">
            <Lock></Lock>
        </span>
    </p>
</div>
<!-- svelte-ignore a11y-no-static-element-interactions -->
<!-- svelte-ignore a11y-missing-attribute -->
<div class="field">
    <!-- svelte-ignore a11y-click-events-have-key-events -->
    <a
        on:click={() => {
            $fronthash = 1;
        }}
        use:links>Olvide mi contraseña</a
    >
    <a href="/register" use:links>crear</a>
</div>

<div class="field">
    <p class="control">
        <button class="button is-success" on:click={() => login()}>
            Login
        </button>
    </p>
</div>
