<script>
    import Check from "../icons/check.svelte";
    import Lock from "../icons/lock.svelte";
    import User from "../icons/user.svelte";
    // @ts-ignore
    import { links } from "svelte-routing";
    import { fronthash, mensaje } from "../lib/store";
    import { send } from "../lib/services";
    let Password = "";
    let Username = "";
    async function createUser() {
        if (Password == "" || Username == "") {
            $mensaje = "Usuario o contraseña incorrecta";
            return;
        }
        $mensaje = "";
        let res = await send("POST", "/register", { Username, Password });
        console.log(res);
    }
</script>

<section class="section">
    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input
                class="input"
                type="text"
                placeholder="Usuario"
                bind:value={Username}
            />
            <span class="icon is-small is-left">
                <User></User>
            </span>
            <!-- <span class="icon is-small is-right">
            <Check></Check>
        </span> -->
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input
                class="input"
                type="password"
                placeholder="Password"
                bind:value={Password}
            />
            <span class="icon is-small is-left">
                <Lock></Lock>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control">
            <button class="button is-success" on:click={() => createUser()}>
                Create
            </button>
        </p>
    </div>
</section>
