<script>
    import Purchase from "../component/purchase.svelte";
    import Back from "../icons/back.svelte";
    import Checked from "../icons/checked.svelte";
    import Uncheked from "../icons/unchecked.svelte";
    import Delete from "../icons/delete.svelte";
    import Edit from "../icons/edit.svelte";
    import Ver from "../icons/ver.svelte";
    import { send } from "../lib/services.js";
    // @ts-ignore
    import { navigate } from "svelte-routing";
    // @ts-ignore
    import MediaQuery from "svelte-media-query";
    let view = false;
    let unique = {};
    function restart() {
        unique = {};
    }
    async function borrar(id) {
        if (!window.confirm("Estas seguro?")) {
            return;
        }

        await send("DELETE", "/saleBill", { id });
        restart();
    }
    let sale;
    let modo;
    function ver(billItem, mode) {
        sale = billItem;
        view = true;
        modo = mode;
    }
</script>

<section class="section">
    {#if view}
        <button
            class="button is-white not-printable"
            on:click={() => (view = false)}
            ><span class="icon">
                <Back></Back>
            </span></button
        >
    {/if}
    {#if !view}
        <p class="title">lista de Ventas</p>
        <button
            class="button"
            on:click={() => navigate("/addSale", { replace: true })}
        >
            Venta Nueva</button
        >
        <MediaQuery query="(min-width: 900px)" let:matches>
            {#if matches}
                <table class="table is-fullwidth">
                    <tr>
                        <th>Id</th>
                        <th>Comprador</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Total</th>
                        <th>Total</th>
                        <th>Entregado</th>
                        <th>Pagado</th>
                        <!-- <th>Fecha</th> -->
                        <th>Acciones</th>
                    </tr>
                    {#key unique}
                        {#await send("GET", "/saleBill")}
                            ...
                        {:then bill}
                            {#each bill as billItem}
                                <tr>
                                    <td>{billItem.Id}</td>
                                    <td>{billItem.Name}</td>

                                    {#await send("GET", "/saleItem?SaleBillId=" + billItem.Id)}
                                        ...
                                    {:then sale}
                                        <td>
                                            {#each sale as saleItem}
                                                {#await send("GET", "/stock?Id=" + saleItem.StockId)}
                                                    ...
                                                {:then stock}
                                                    <div>
                                                        {stock.Name}
                                                    </div>
                                                {/await}
                                            {/each}
                                        </td>
                                        <td>
                                            {#each sale as saleItem}
                                                <div>
                                                    {saleItem.Quantity}
                                                </div>
                                            {/each}
                                        </td>
                                        <td>
                                            {#each sale as itemItem}
                                                <div>
                                                    {itemItem.TotalPrice}
                                                </div>
                                            {/each}
                                        </td>
                                    {/await}

                                    <td>{billItem.Total}</td>
                                    <td>
                                        {#if billItem.IsDelivered}
                                            <Checked></Checked>
                                        {:else}
                                            <Uncheked></Uncheked>
                                        {/if}
                                    </td>
                                    <td>
                                        {#if billItem.IsPaid}
                                            <Checked></Checked>
                                        {:else}
                                            <Uncheked></Uncheked>
                                        {/if}</td
                                    >

                                    <td>
                                        <button
                                            class="button is-white"
                                            on:click={() =>
                                                ver(billItem, "DSP")}
                                            ><span class="icon">
                                                <Ver></Ver>
                                            </span></button
                                        >
                                        <button
                                            class="button is-white"
                                            on:click={() =>
                                                ver(billItem, "UPD")}
                                            ><span class="icon">
                                                <Edit></Edit>
                                            </span></button
                                        >
                                        <button
                                            class="button is-white"
                                            on:click={() => borrar(billItem.Id)}
                                        >
                                            <Delete></Delete>
                                        </button>
                                    </td>
                                </tr>
                            {/each}
                        {/await}
                    {/key}
                </table>
            {:else}
                {#key unique}
                    {#await send("GET", "/saleBill")}
                        ...
                    {:then bill}
                        {#each bill as billItem}
                            <br />
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        {billItem.Id}.-
                                        {billItem.Name}
                                    </p>
                                </header>
                                <div class="card-content">
                                    <p class="subtitle">
                                        {#await send("GET", "/saleItem?SaleBillId=" + billItem.Id)}
                                            ...
                                        {:then item}
                                            {#each item as itemItem}
                                                <div>
                                                    {itemItem.Quantity} de
                                                    {#await send("GET", "/stock?Id=" + itemItem.StockId)}
                                                        ...
                                                    {:then stock}
                                                        {stock.Name}
                                                    {/await}
                                                    importe de S/. {itemItem.PerPrice}
                                                    <strong
                                                        >Total: S/. {itemItem.TotalPrice}</strong
                                                    >
                                                </div>
                                            {/each}
                                        {/await}
                                    </p>
                                    <p>
                                        {#if billItem.IsDelivered}
                                            <Checked></Checked>
                                        {:else}
                                            <Uncheked></Uncheked>
                                        {/if}
                                        <span>Entregado</span>
                                    </p>
                                    <p>
                                        {#if billItem.IsPaid}
                                            <Checked></Checked>
                                        {:else}
                                            <Uncheked></Uncheked>
                                        {/if}
                                        <span>Pagado</span>
                                    </p>
                                    <p class="title">
                                        Total: S/.{billItem.Total}
                                    </p>
                                </div>
                                <!-- svelte-ignore a11y-missing-attribute -->
                                <!-- svelte-ignore a11y-click-events-have-key-events -->
                                <!-- svelte-ignore a11y-no-static-element-interactions -->
                                <footer class="card-footer">
                                    <a
                                        class="card-footer-item"
                                        on:click={() => ver(billItem, "DSP")}
                                    >
                                        <span class="icon">
                                            <Ver></Ver>
                                        </span>
                                        <span> Ver </span>
                                    </a>

                                    <a
                                        class="card-footer-item"
                                        on:click={() => ver(billItem, "UPD")}
                                    >
                                        <span class="icon">
                                            <Edit></Edit>
                                        </span>

                                        <span> Editar </span>
                                    </a>

                                    <a
                                        class="card-footer-item"
                                        on:click={() => borrar(billItem.Id)}
                                    >
                                        <span class="icon">
                                            <Delete></Delete>
                                        </span>

                                        <span> Borrar </span>
                                    </a>
                                </footer>
                            </div>
                        {/each}
                    {/await}
                {/key}
            {/if}
        </MediaQuery>
    {:else}
        <Purchase billItem={sale} {modo} isSale={true}></Purchase>{/if}
</section>
