<script>
    import { send } from "../lib/services";
    import { mensaje } from "../lib/store.js";
    let unique = {};

    function restart() {
        $mensaje = "";
        Name = "";
        error = false;
        unique = {};
    }
    async function borrar(Id) {
        if (!window.confirm("Estas seguro?")) {
            return;
        }

        await send("DELETE", "/supplier", { Id });
        restart();
    }
    let error = false;
    let Name;
    let Phone;
    async function save() {
        if (Name == "") {
            error = true;
            $mensaje = "falta ingresar nombre del vendedor";

            return;
        }
        await send("POST", "/supplier", { Name, Phone });
        restart();
    }
</script>

<section class="section">
    <p class="title">Suppliers List</p>
    <table class="table is-fullwidth">
        <tr>
            <th>Nombre</th>
            <th>Contacto</th>
            <th>Acciones</th>
        </tr>
        {#key unique}
            {#await send("GET", "/supplierList")}
                ...
            {:then suppliers}
                {#each suppliers as supplier}
                    <tr>
                        <td>{supplier.Name}</td>
                        <td>{supplier.Phone}</td>

                        <td>
                            <button
                                class="delete"
                                on:click={() => borrar(supplier.Id)}
                            />
                        </td>
                    </tr>
                {/each}
            {/await}
        {/key}
    </table>

    <h1>Nuevo Vendedor</h1>
    <div class="field">
        <label for="" class="label">Nombre</label>
        <div class="control">
            <input
                class="input"
                type="text"
                placeholder="nombre"
                bind:value={Name}
            />
        </div>
    </div>
    <div class="field">
        <label for="" class="label">telefono</label>
        <div class="control">
            <input
                class="input"
                type="text"
                placeholder="55554433"
                bind:value={Phone}
            />
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" on:click={save}>Submit</button>
        </div>
    </div>
</section>
