<script>
    // @ts-nocheck

    import { onMount } from "svelte";
    import { mensaje } from "../lib/store.js";
    // export let severity = "";
    function fin() {
        setTimeout(() => {
            $mensaje = null;
        }, 4000);
    }
</script>

{#if $mensaje}
    <div class="notification is-danger is-light" use:fin>
        <button class="delete" on:click={() => ($mensaje = null)}></button>
        {$mensaje}
    </div>
{/if}
