<script>
    import { send } from "../lib/services.js";
    import Checked from "../icons/checked.svelte";
    import Uncheked from "../icons/unchecked.svelte";
    export let billItem = {};
    export let isSale;
    let globalTotal = 0;

    async function StockbyId() {
        let endpoint = "";
        if (isSale) {
            endpoint = "/saleItem?SaleBillId=";
        } else {
            endpoint = "/purchaseItem?PurchaseBillId=";
        }

        let Stocks = await send("GET", endpoint + billItem.Id);

        Stocks.forEach((element) => (globalTotal += element.TotalPrice));
        return Stocks;
    }
    function PrintElem(elem) {
        // var mywindow = window.open("", "PRINT", "height=400,width=600");

        // mywindow.document.write("<html><head><title>" + "Factura" + "</title>");
        // mywindow.document.write("</head><body >");
        // mywindow.document.write("<h1>" + "Factura" + "</h1>");
        // mywindow.document.write(document.getElementById(elem).innerHTML);
        // mywindow.document.write("</body></html>");

        // mywindow.document.close(); // necessary for IE >= 10
        // mywindow.focus(); // necessary for IE >= 10*/

        // mywindow.print();
        // mywindow.close();

        var printContents = document.getElementById(elem).outerHTML;

        var mywindow = window.open("", "", "width=900,height=650");

        mywindow.document.write(printContents);
        mywindow.document.close();
        mywindow.focus();
        mywindow.print();
        mywindow.close();

        // window.print();
    }
</script>

<button on:click={() => window.print()} class="button not-printable"
    >Imprimir</button
>
<!-- <button on:click={() => PrintElem("content")} class="button">Imprimir</button> -->

<br />
<div id="content" class="box center">
    {#if isSale}
        <p class="title">Factura</p>
        <div class="field">
            <strong> Comprador : </strong>
            {billItem.Name}
        </div>

        <div class="field">
            <strong>telefono:</strong>
            {billItem.Phone}
        </div>

        <div class="field">
            <strong>Direccion:</strong>
            {billItem.Direction}
        </div>
        <div class="field">
            {#if billItem.IsDelivered}
                <Checked></Checked>
            {:else}
                <Uncheked></Uncheked>
            {/if}
            <strong> Enviado </strong>
            {#if billItem.IsPaid}
                <Checked></Checked>
            {:else}
                <Uncheked></Uncheked>
            {/if}
            <strong> Pagado </strong>
        </div>
    {:else}
        <p class="title">Factura compra</p>
        {#await send("GET", "/supplier?Id=" + billItem.SupplierId)}
            ...
        {:then supplier}
            <div class="field">
                <strong> Vendedor : </strong>
                {supplier.Name}
            </div>

            <div class="field">
                <strong> Telefono:</strong>
                {supplier.Phone}
            </div>
        {/await}
    {/if}

    <div class="block">
        <table class="table is-fullwidth">
            <tr>
                <th>Producto</th>
                <th>precio por Producto</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
            {#await StockbyId()}
                ...
                <i class="fas fa-spinner fa-pulse"></i>
            {:then resp}
                {#each resp as stockItem}
                    <tr>
                        <td>
                            {#await send("GET", "/stock?Id=" + stockItem.StockId)}
                                ...
                            {:then stock}
                                {stock.Name}
                            {/await}
                        </td>
                        <td>{stockItem.PerPrice}</td>
                        <td>{stockItem.Quantity}</td>
                        <td>{stockItem.TotalPrice}</td>
                    </tr>
                {/each}
            {/await}

            <tr>
                <td></td><td></td> <td></td><td>
                    {globalTotal}
                </td>
            </tr>
        </table>
    </div>
</div>

<style>
    @media print {
        #content {
            /* background-color: white;
            height: 100%;
            width: 100%; */

            position: fixed;

            /* top: 0;
            left: 0;
            margin: 0;
            padding: 15px;
            font-size: 14px;
            line-height: 18px; */
        }
    }
</style>
