<script>
    import { send } from "../lib/services.js";
    import Print from "./print.svelte";
    import Stock from "./stock.svelte";
    export let billItem = {};
    export let modo = "";
    export let isSale;
    function change() {
        modo = "EDT";
    }

    async function save() {
        await send("POST", "/saleBillUpd", billItem);
        modo = "UPD";
    }
    let isPrint = false;
    function Ticket() {
        isPrint = !isPrint;
    }
</script>

{#if !isPrint}
    {#if modo == "DSP"}
        <button on:click={() => Ticket()} class="button">Ticket</button>
    {/if}
    {#if isSale}
        <p class="title">Nueva Venta</p>
        <div class="field">
            <label for="name" class="label"> Comprador : </label>
            <input
                type="text"
                class="input"
                value={billItem.Name}
                disabled={modo != "UPD"}
                id="name"
                on:change={change}
            />
        </div>

        <div class="field">
            <label for="Phone" class="label">telefono:</label>

            <input
                type="text"
                class="input"
                value={billItem.Phone}
                disabled={modo != "UPD"}
                id="Phone"
                on:change={change}
            />
        </div>

        <div class="field">
            <label for="dir" class="label">Direccion:</label>

            <input
                type="text"
                class="input"
                value={billItem.Direction}
                disabled={modo != "UPD"}
                id="dir"
                on:change={change}
            />
        </div>
        <div class="field">
            <label class="checkbox">
                <input
                    type="checkbox"
                    bind:checked={billItem.IsDelivered}
                    disabled={modo != "UPD"}
                    on:change={change}
                />
                Entregado
            </label>
        </div>

        <div class="field">
            <label class="checkbox">
                <input
                    type="checkbox"
                    bind:checked={billItem.IsPaid}
                    disabled={modo != "UPD"}
                    on:change={change}
                />
                Pagado
            </label>
        </div>
        {#if modo == "UPD" || modo == "EDT"}
            <button
                type="button"
                class="button"
                disabled={modo == "UPD"}
                on:click|preventDefault={() => save()}>Grabar</button
            >
        {/if}
    {:else}
        <p class="title">Nueva Compra</p>
        {#await send("GET", "/supplier?Id=" + billItem.SupplierId)}
            ...
        {:then supplier}
            <div class="field">
                <label for="name" class="label"> Vendedor : </label>
                <input
                    type="text"
                    class="input"
                    value={supplier.Name}
                    disabled
                    id="name"
                />
            </div>

            <div class="field">
                <label for="Phone" class="label">telefono:</label>

                <input
                    type="text"
                    class="input"
                    value={supplier.Phone}
                    disabled
                    id="Phone"
                />
            </div>
        {/await}
    {/if}

    {#if modo == "UPD" || modo == "DSP" || modo == "INS"}
        <Stock itemId={billItem.Id} {isSale} {modo} />
    {/if}
{:else}
    <Print {billItem} {isSale}></Print>
{/if}
