<script lang="ts">
    import Delete from "../icons/delete.svelte";
    import Save from "../icons/save.svelte";
    import { send } from "../lib/services.js";
    import { mensaje } from "../lib/store.js";
    export let itemId;
    export let isSale = false;
    export let modo = "";
    let PerPrice: number = 0;
    let Quantity: number = 0;
    let StockId: number = 0;
    let TotalPrice: number = 0;
    let stockList = [];
    $: TotalPrice = PerPrice * Quantity;
    let unique = {};
    let globalTotal = 0;
    let isDisabled = true;
    $: isDisabled = StockId != 0 && TotalPrice != 0 ? false : true;
    function restart() {
        $mensaje = "";
        PerPrice = 0;
        Quantity = 0;
        StockId = 0;
        TotalPrice = 0;
        error = false;
        globalTotal = 0;
        stockList = [];
        unique = {};
    }
    async function listStock(name) {
        stockList = await send("POST", "/stockList", { Name: name });
        return stockList;
    }
    async function deleteItem(Id) {
        if (!window.confirm("Estas seguro?")) {
            return;
        }

        let endpoint = "/purchaseItem";
        if (isSale) {
            endpoint = "/saleItem";
        }
        let respuesta = await send("DELETE", endpoint, {
            Id,
        });
        restart();
        return respuesta;
    }
    let error = false;
    let errorCantidad = false;
    async function save() {
        let endpoint = "";
        let body = {
            StockId,
            Quantity,
            PerPrice,
            TotalPrice,
        };
        if (StockId == 0 || Quantity == 0 || PerPrice == 0) {
            error = true;
            $mensaje = "Ingresar todos los campos";

            return;
        }
        if (isSale) {
            if (Quantity > selectdStockQuantity) {
                errorCantidad = true;
                $mensaje = "Cantidad mayor a la posible";

                return;
            }
            endpoint = "/saleItem";
            body["SaleBillId"] = itemId;
        } else {
            endpoint = "/purchaseItem";
            body["PurchaseBillId"] = itemId;
        }

        let respuesta = await send("POST", endpoint, body);
        restart();

        return respuesta;
    }
    async function StockbyId() {
        let endpoint = "";
        if (isSale) {
            endpoint = "/saleItem?SaleBillId=";
        } else {
            endpoint = "/purchaseItem?PurchaseBillId=";
        }

        let Stocks = await send("GET", endpoint + itemId);

        Stocks.forEach((element) => (globalTotal += element.TotalPrice));
        return Stocks;
    }
    let selectStock;
    let selectdStockQuantity = 0;

    function getQuantity() {
        selectStock = stockList.find(({ Id }) => Id === StockId);
        selectdStockQuantity = selectStock.Quantity;
        return selectStock;
    }
</script>

<div class="block">
    <table class="table is-fullwidth">
        <tr>
            <th>Producto</th>
            <th>precio por Producto</th>
            <th>Cantidad</th>
            <th>total</th>
            {#if modo != "DSP"}
                <th>Acciones</th>
            {/if}
        </tr>
        {#key unique}
            {#await StockbyId()}
                ...
                <i class="fas fa-spinner fa-pulse"></i>
            {:then resp}
                {#each resp as stockItem}
                    <tr>
                        <td>
                            {#await send("GET", "/stock?Id=" + stockItem.StockId)}
                                ...
                            {:then stock}
                                <input
                                    class="input"
                                    type="text"
                                    value={stock.Name}
                                    disabled
                                />
                            {/await}
                        </td>
                        <td
                            ><input
                                class="input"
                                type="number"
                                value={stockItem.PerPrice}
                                disabled
                            /></td
                        >
                        <td
                            ><input
                                class="input"
                                type="number"
                                value={stockItem.Quantity}
                                disabled
                            /></td
                        >
                        <td
                            ><input
                                class="input"
                                type="number"
                                value={stockItem.TotalPrice}
                                disabled
                            /></td
                        >
                        {#if modo != "DSP"}
                            <td>
                                <!-- svelte-ignore a11y-click-events-have-key-events -->
                                <!-- svelte-ignore a11y-no-static-element-interactions -->
                                <button
                                    class="button is-white"
                                    on:click={() => {
                                        deleteItem(stockItem.Id);
                                    }}
                                >
                                    <span class="icon">
                                        <Delete></Delete>
                                    </span>
                                </button>
                            </td>
                        {/if}
                    </tr>
                {/each}
            {/await}
        {/key}
        {#if modo != "DSP"}
            <tr>
                <td>
                    {#await listStock("")}
                        ...
                    {:then resp}
                        <div class="select">
                            <select
                                bind:value={StockId}
                                on:change={getQuantity}
                            >
                                <option selected value={0}>----</option>
                                {#each resp as resItem}
                                    {#if isSale && resItem.Quantity > 0}
                                        <option value={resItem.Id}
                                            >{resItem.Name}</option
                                        >
                                    {:else if !isSale}
                                        <option value={resItem.Id}
                                            >{resItem.Name}</option
                                        >
                                    {/if}
                                {/each}
                            </select>
                        </div>
                    {/await}
                </td>
                <td
                    ><input
                        class="input"
                        type="number"
                        max="100"
                        min="0"
                        bind:value={PerPrice}
                    /></td
                >
                {#if isSale}
                    <td
                        ><input
                            type="number"
                            bind:value={Quantity}
                            max={selectdStockQuantity}
                            min="0"
                            class="input {errorCantidad ? 'is-danger' : ''}"
                        /></td
                    >
                {:else}
                    <td
                        ><input
                            class="input"
                            type="number"
                            bind:value={Quantity}
                            max="100"
                            min="0"
                        /></td
                    >
                {/if}

                <td
                    ><input
                        class="input"
                        type="number"
                        bind:value={TotalPrice}
                        disabled
                    /></td
                >

                <td>
                    <!-- svelte-ignore a11y-click-events-have-key-events -->
                    <!-- svelte-ignore a11y-no-static-element-interactions -->
                    <button
                        class="button is-white"
                        on:click={() => save()}
                        disabled={isDisabled}
                    >
                        <span class="icon">
                            <Save></Save>
                        </span>
                    </button>

                    <!-- <button class="delete" /> -->
                </td>
            </tr>
        {/if}
        <tr>
            <td></td><td></td> <td></td><td>
                <input
                    class="input"
                    type="number"
                    value={globalTotal}
                    disabled
                />
            </td>
        </tr>
    </table>
</div>
