<script>
  // @ts-ignore
  import { Router, Route, links } from "svelte-routing";
  import { fronthash } from "./lib/store";
  import Home from "./routes/home.svelte";
  // import About from "./routes/about.svelte";
  import Login from "./routes/login.svelte";
  // import Registro from "./routes/registro.svelte";
  import Inventory from "./routes/inventory.svelte";
  import Purchases from "./routes/purchases.svelte";
  import Sales from "./routes/sales.svelte";
  import AddPruchase from "./routes/addPruchase.svelte";
  import AddSale from "./routes/addSale.svelte";
  import Suppliers from "./routes/suppliers.svelte";
  import Mensaje from "./component/mensaje.svelte";
  import Print from "./component/print.svelte";
  // @ts-ignore
  import MediaQuery from "svelte-media-query";
  import Menu from "./icons/menu.svelte";
  import Colapce from "./icons/colapce.svelte";

  // @ts-ignore
  import { navigate } from "svelte-routing";
  import Register from "./routes/register.svelte";
  let show = false;

  function nav(end) {
    show = false;
    console.log("show", show);
    switch (end) {
      case "Home":
        navigate("/", { replace: true });
        break;
      case "inventory":
        navigate("/inventory", { replace: true });
        break;
      case "purchases":
        navigate("/purchases", { replace: true });
        break;
      case "purchases":
        navigate("/purchases", { replace: true });
        break;
      case "addPurchase":
        navigate("/addPurchase", { replace: true });
        break;
      case "sales":
        navigate("/sales", { replace: true });
        break;
      case "addSale":
        navigate("/addSale", { replace: true });
        break;

      case "suppliers":
        navigate("/suppliers", { replace: true });
        break;
      case "register":
        navigate("/register", { replace: true });
        break;
    }
  }
</script>

{#if $fronthash}
  <div class="columns">
    <MediaQuery query="(min-width: 900px)" let:matches>
      <!-- <div class="column is-one-fifth not-printable">
      {matches}
    </div> -->
      {#if matches}
        <div class="column is-one-fifth not-printable">
          <aside class="menu" use:links>
            <ul class="menu-list">
              <li><a href="/"><i>Home</i></a></li>
              <hr />
              <li><a href="/inventory"><i>Productos</i></a></li>
              <hr />
              <li><a href="/purchases"><i>Compras</i></a></li>
              <li><a href="/addPurchase"><i>Agregrar compra</i></a></li>
              <hr />
              <li><a href="/sales"><i>Ventas</i></a></li>
              <li><a href="/addSale"><i>Agregar Venta</i></a></li>
              <hr />
              <li><a href="/suppliers"><i>Vendedores</i></a></li>
              <hr />
              <li><a href="/register"><i>Nuevo Usuario</i></a></li>
              <li>
                <a on:click|preventDefault={() => ($fronthash = null)} href="/"
                  ><i>Salir</i></a
                >
              </li>
            </ul>
          </aside>
        </div>
        <Router>
          <Route path="/"><Home></Home></Route>
          <Route path="/inventory"><Inventory /></Route>
          <Route path="/purchases"><Purchases /></Route>
          <Route path="/sales"><Sales /></Route>
          <Route path="/addPurchase"><AddPruchase /></Route>
          <Route path="/addSale"><AddSale /></Route>
          <Route path="/suppliers"><Suppliers /></Route>
          <Route path="/register"><Register></Register></Route>
        </Router>
      {:else}
        <div class="column is-one-fifth not-printable">
          {#if show}
            <aside class="menu" use:links>
              <button
                class="button is-white"
                on:click|preventDefault={() => {
                  show = !show;
                }}><Colapce></Colapce></button
              >
              <ul class="menu-list">
                <li>
                  <a href="/" on:click|preventDefault={() => nav("Home")}
                    ><i>Home</i></a
                  >
                </li>
                <hr />
                <li>
                  <a
                    href="/inventory"
                    on:click|preventDefault={() => nav("inventory")}
                    ><i>Productos</i></a
                  >
                </li>
                <hr />
                <li>
                  <a
                    on:click|preventDefault={() => nav("purchases")}
                    href="/purchases"><i>Compras</i></a
                  >
                </li>
                <li>
                  <a
                    on:click|preventDefault={() => nav("addPurchase")}
                    href="/addPurchase"><i>Agregrar compra</i></a
                  >
                </li>
                <hr />
                <li>
                  <a on:click|preventDefault={() => nav("sales")} href="/sales"
                    ><i>Ventas</i></a
                  >
                </li>
                <li>
                  <a
                    on:click|preventDefault={() => nav("addSale")}
                    href="/addSale"><i>Agregar Venta</i></a
                  >
                </li>
                <hr />
                <li>
                  <a
                    on:click|preventDefault={() => nav("suppliers")}
                    href="/suppliers"><i>Vendedores</i></a
                  >
                </li>
                <hr />
                <li>
                  <a
                    on:click|preventDefault={() => nav("register")}
                    href="/register"><i>Nuevo Usuario</i></a
                  >
                </li>
                <li>
                  <a
                    on:click|preventDefault={() => ($fronthash = null)}
                    href="/"><i>Salir</i></a
                  >
                </li>
              </ul>
            </aside>
          {:else}
            <button
              class="button is-white"
              on:click|preventDefault={() => {
                show = !show;
              }}><Menu></Menu></button
            >
            <Router>
              <Route path="/"><Home></Home></Route>
              <Route path="/inventory"><Inventory /></Route>
              <Route path="/purchases"><Purchases /></Route>
              <Route path="/sales"><Sales /></Route>
              <Route path="/addPurchase"><AddPruchase /></Route>
              <Route path="/addSale"><AddSale /></Route>
              <Route path="/suppliers"><Suppliers /></Route>
              <Route path="/register"><Register></Register></Route>
            </Router>
          {/if}
        </div>
      {/if}
    </MediaQuery>

    <div class="column">
      <slot />
    </div>
  </div>
{:else}
  <div class="column is-one-fifth">
    <Login></Login>
  </div>
{/if}
<Mensaje></Mensaje>
